@charset "utf8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.top-page {
    height: 100vH;
}

#logo {
    position: relative;
    height: 600px;
    width: 600px;
    margin: 100px auto;
}
#logo0 {
    position: absolute;
    bottom: 40%;
    width: 20px;
    background-color: gray;
    margin-left: 580px;
    margin-top: 350px;
}
