@charset "utf8";
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
@import url(https://fonts.googleapis.com/css?family=Hurme+Geometric+Sans+No.1);


h1, p, ul{
    font-family: "Helvetica", "Times New Roman"/* "Didact Gothic"*/;
    /*src: '/canvas/HurmeGeometricSans1 Bold.otf';*/
}


#loading-page {
    height: 100vH;
}

#logo {
    position: relative;
    height: 600px;
    width: 600px;
    margin: 50px auto;
}
#logo0 {
    position: absolute;
    border-left: 40px solid gray;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    margin-left: 560px;
    margin-top: 419px;
    opacity: 0;
}
#logo1 {
    position: absolute;
    bottom: 30%;
    width: 40px;
    background-color: gray;
    margin-left: 560px;
    margin-top: 350px;
}
#logo2 {
    position: absolute;
    right: 0;
    height: 40px;
    background-color: gray;
}
#logo3 {
    position: absolute;
    width: 40px;
    background-color: gray;
}
#logo4 {
    position: absolute;
    height: 40px;
    background-color: gray;
    margin-top: 600px;
    bottom: 0%;
}
#header {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
}
#header img{
    height: 70px;
    margin-left: 100px;
    margin-top:5px;
    display: inline-block;

}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#top {
    height: 100vH;
    text-align: center;
}    
#top img {
    height: 100vH;
    margin: 10px auto;
 
}
.scrlDown_btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 1.1rem;
    text-align: center;
    color: #000;
    transform: translate3d(-50%, 0, 0);
    z-index: 9;
    cursor: pointer;
}

#menu{
    margin-top: 40px;
    height: 610px;
    text-align: center;
}
#price {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
#price h2{
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}
#price ul{
    list-style: none;
    font-size: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
#pic {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}
#pic img {
    height: 600px;
}

#access {
    text-align: center;
    background-color: #f7f7f7;
    padding-bottom: 30px;
    
}
#access h1 {
    padding-top: 30px;
    
}
#info{
    margin-top: 10px;
    line-height: 5px;
}
#footer{
    height: 200px;
}
#footer img{
    display: inline-block;
    height: 80px;
    padding-right: 150px;
    padding-top: 50px;
    margin-left: 100px;
}
#nav{
    margin-top: 20px;
    display: inline-block;
}
#nav ul{
    list-style: none;
    float: left;
}
#nav li{
    padding: 10px 0;
}
#nav span {
    margin-left: 15px;
}
a {
    text-decoration: none;
    color: black;
}
#text{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin: auto 40px;
    font-size: 15px;
}
